@import 'variables';
@import 'normalize';
@import 'layout';
@import 'page';
@import 'burger-menu';
@import 'pod-styles';

body > .ember-view {
  @extend .layout-column;

  height: 100vh;
  overflow: hidden;
}

.about-page {
  @extend .content-padding;

  max-width: 760px;
  margin: 0 auto;
  hyphens: auto;
  text-align: justify;

  @supports not (hyphens: auto) {
    > p {
      text-align: left;
    }
  }

  @media (min-width: 421px) {
    > p {
      text-align: left;
    }
  }
}
