@import 'variables';
@import 'normalize';
@import 'layout';
@import 'page';
@import 'burger-menu';
@import 'pod-styles';

body > .ember-view {
  @extend .layout-column;

  height: 100vh;
  overflow: hidden;
}

.about-page {
  @extend .content-padding;

  max-width: 760px;
  margin: 0 auto;
  hyphens: auto;

  @media (max-width: 420px) {
    > p {
      text-align: justify;
    }
  }
}
