@import 'variables';
@import 'normalize';
@import 'layout';
@import 'page';
@import 'burger-menu';
@import 'hover-box';
@import 'form';
@import 'pod-styles';

body {
  transition: background-color 300ms;
}

body > .ember-view {
  @extend .layout-column;

  height: 100vh;
  overflow: hidden;
}

.justify-mobile {
  p {
    hyphens: auto;
    text-align: justify;
  }

  @supports not (hyphens: auto) {
    p {
      text-align: left;
    }
  }

  @media (min-width: 421px) {
    p {
      text-align: left;
    }
  }
}

.intro {
  background-color: var(--c-puzzle-7);
  color: white;
}
.intro > h1 {
  color:white;
}
.intro > p {
  font-size: 1.2em;
  padding: 0 3rem;
}
@media (max-width: 506px) {
  .intro > p {
    font-size: 1.2em;
    padding: 0 .5rem;
  }
}
.advent-wrapper {
  background-color: var(--c-puzzle-5);
  color: white;
}
small {
  font-size: 1rem;
  margin-top:1rem;
}
.calendar-day-heading {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 960px;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: left;
  flex-shrink: 0;
  border-bottom: 5px solid rgba(0,0,0,.3);

}
.calendar-day-heading > div {
  margin-left: 0;
}
.calendar-day-heading > a {
  margin-left: auto;
}
.calendar-day-heading .calendar-day__number {
  width: 4rem;
  height: 3.5rem;
  font-size: 3rem;
}
.hover-box {
  background-color: darken($c-puzzle-5, 5%);
  & > .context-green {
    background-color: darken($c-puzzle-7, 10%);
  }
  .page-day & {
    background-color: darken($c-puzzle-7, 10%);
  }
  &.disabled {
    cursor: not-allowed;
    opacity: .3;
    pointer-events: none;
  }
}
.calendar-day__number {
  .disabled & {
    color: $c-puzzle-5;
  }
}
.calendar-day-heading .hover-box__link .fa-calendar-o {
  font-size: 2rem;
}

.text-center { text-align: center }
.text-start { text-align: left }
.text-end { text-align: right }

@media (min-width: 992px) {
  .calendar-day-heading {
    padding-left: 0;
  }
}

.dummy-contributor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dummy-contributor {
  width: 200px;
  height: 150px;
  margin: 1rem;
  background-color: rgb(148, 168, 167);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.dummy-contributor > .fa {
  font-size: 8rem;
  color: rgba(34, 34, 34, 0.05);
}

@media (max-width: 506px) {
  .dummy-contributor {
    width: 245px;
    height: 183px;
  }
  .dummy-contributor > .fa {
    font-size: 10rem;
  }
}

@media (min-width: 716px) {
  .dummy-contributor {
    width: 300px;
    height: 225px;
  }
  .dummy-contributor > .fa {
    font-size: 12rem;
  }
}
.index-content {
  padding-top: 0 !important;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.index-content > * {
  max-width: 100%;
}
.latest-contribution {
  width: 100%;
  text-align: center;
  background-color: var(--secondary);
  font-weight: 100;
  padding: 1rem 0;
}
.latest-contribution a, .latest-contribution a:hover {
  color: white;
}
.is-white {
  color: white;
}
.context-green {
  color: white;
  background-color: darken($c-puzzle-7, 10%);
  &:hover {
    background-color: darken($c-puzzle-7, 15%);
  }
}
.calendar-entry-item {
  border-bottom: 5px solid rgba(0,0,0,.05);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
