::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $c-puzzle-5;
}

input:not([type="radio"], [type="checkbox"]) {
  border: 1px solid darken($c-puzzle-5, 5%);
  border-bottom: 1px solid $c-puzzle-6;
  padding: 0.5rem;
  background-color: darken($c-puzzle-5, 5%);
  color: white;
  transition: all .3s ease;
  &:hover {
    border: 1px solid darken($c-puzzle-5, 8%);
    border-bottom: 1px solid $c-puzzle-6;
  }
  &:focus {
    border: 1px solid $c-puzzle-6;
  }
}

textarea {
  border: 1px solid darken($c-puzzle-5, 5%);
  border-bottom: 1px solid $c-puzzle-6;
  padding: 0.5rem;
  background-color: darken($c-puzzle-5, 5%);
  color: white;
  transition: all .3s ease;
  &:hover {
    border: 1px solid darken($c-puzzle-5, 8%);
    border-bottom: 1px solid $c-puzzle-6;
  }
  &:focus {
    border: 1px solid $c-puzzle-6;
  }
}

button {
  cursor: pointer;
}

.btn-primary, button[type="submit"] {
  display: inline-flex;
  border: none;
  background-color: darken($c-puzzle-5, 10%);
  color: $white;
  padding: 0.4rem 0.75rem;

  & > .fa {
    align-self: center;
  }
  & > .fa:first-child {
    margin-right: 0.5rem;
  }

  &:hover, &.pending {
    color: $white;
    background-color: darken($c-puzzle-5, 15%);
    text-decoration: none;
  }

  &[disabled] {
    cursor: not-allowed;
    color: $c-puzzle-5;
    pointer-events: none;
    &:hover {
      background-color: inherit;
      color: $c-puzzle-5;
    }
  }
  .intro & {
    border: darken($c-puzzle-7, 10%);
    background-color: darken($c-puzzle-7, 10%);

    &:hover {
      border: darken($c-puzzle-7, 13%);
      background-color: darken($c-puzzle-7, 13%);
    }
  }
}

.form-field > label {
  display: block;
  padding: .5rem 0;
}

.form-field {
  margin: 0.5rem 0;
}
