@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--any-link :link, :visited, a[data-ember-action];

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: var(--font-family-default);
  color: var(--font-color-default);
}

a {
  cursor: default;
}

:link, :visited, button, [data-ember-action] {
  cursor: pointer;
}

:--any-link {
  color: var(--c-puzzle-9);
}

:--any-link:hover {
  color: var(--c-puzzle-9);
  text-decoration: underline;
}

:link {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
}

address {
  font-style: normal;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

:--heading {
  margin-top: 0.666rem;
  margin-bottom: 0.666rem;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.65;
}

ul, ol, menu, dir {
  padding-inline-start: 1rem;
}
