.page-header {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
}

.page-header__logo > svg {
  display: block;
  width: 140px;
}

@media (min-width: 768px) {
  .page-header__logo > svg {
    width: 200px;
  }
}

@media (min-width: 992px) {
  .page-header__logo > svg {
    width: 310px;
  }
}

.page-content {
  overflow: hidden;
  //background-color: $c-puzzle-7;
  color: white;
  & .about-page {
    //background-color: $c-puzzle-7;
  }
}

.page-content__outlet {
  @extend .layout-column-flex;
}
.page-content__outlet > .liquid-child {
  @extend .layout-column-flex;
  overflow-y: auto;
}
.page-content__outlet > .liquid-child > :first-child {
  padding-top: 1rem;
  margin-top: 0;
}

.page-footer {
  padding: 1rem 1rem 1.25rem;
}

.page-footer__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.page-footer__address,
.page-footer__copyright {
  color: var(--font-color-dark-mute);
  font-size: 0.7rem;
  line-height: 1.34;
}
.page-contributors {
  background-color: $c-puzzle-5;
}
.page-about {
  background-color: $c-puzzle-7;
}
.page-login {
  background-color: $c-puzzle-7;
}
