$white: #fff;
$black: #000;

$c-puzzle-1: rgb(30, 90, 150);
$c-puzzle-2: rgb(59, 123, 190);
$c-puzzle-3: rgb(35, 139, 202);
$c-puzzle-4: rgb(63, 168, 224);
$c-puzzle-5: rgb(70, 188, 192);
$c-puzzle-6: rgb(44, 151, 166);
$c-puzzle-7: rgb(105, 185, 120);
$c-puzzle-8: rgb(97, 180, 75);
$c-puzzle-9: rgb(62, 109, 59);

$c-info: $c-puzzle-6;
$c-warning: orange;
$c-danger: red;

$font-dark: #222;
$font-light: #eeeeec;
$font-dark-mute: rgba(34, 34, 34, 0.666);

$font-family-sans: Roboto, 'Liberation Sans', sans-serif;
$font-family-serif: 'Roboto Slab', 'DejaVu Serif', serif;
$font-family-mono: 'Operator Mono',
  'Fira Code',
  'Ubuntu Mono',
  'Droid Sans Mono',
  'Liberation Mono',
  'Source Code Pro',
  Menlo,
  Monaco,
  Consolas,
  monospace;

$font-family-default: $font-family-sans;

:root {
  --primary: $c-puzzle-1;
  --secondary: $c-puzzle-4;

  --info: $c-info;
  --warning: $c-warning;
  --danger: $c-danger;

  --c-puzzle-1: $c-puzzle-1;
  --c-puzzle-2: $c-puzzle-2;
  --c-puzzle-3: $c-puzzle-3;
  --c-puzzle-4: $c-puzzle-4;
  --c-puzzle-5: $c-puzzle-5;
  --c-puzzle-6: $c-puzzle-6;
  --c-puzzle-7: $c-puzzle-7;
  --c-puzzle-8: $c-puzzle-8;
  --c-puzzle-9: $c-puzzle-9;

  --font-color-default: $font-dark;
  --font-color-dark: $font-dark;
  --font-color-light: $font-light;
  --font-color-dark-mute: $font-dark-mute;

  --font-family-default: $font-family-default;
  --font-family-sans: $font-family-sans;
  --font-family-serif: $font-family-serif;
  --font-family-mono: $font-family-mono;
}
