<header class="intro-header text-center">
  <h1>Damians Open&nbsp;Source<br>Advents Challenge 2016</h1>
  <p>
    Wer schafft es im Advent jeden Tag einen Beitrag zu einem Open Source
    Projekt zu leisten?
  </p>
</header>

{{contribution-calendar items=model}}
