<header class="intro-header text-center">
  <h1>{{model.name}}</h1>
  <p>
    Wer schafft es im Advent jeden Tag einen Beitrag zu einem Open Source
    Projekt zu leisten?
  </p>

  {{#link-to
    'post-contribution'
    (query-params date=(moment-format now 'YYYY-MM-DD'))
    class="btn-primary"
    }}
    <i class="fa fa-plus"></i>
    Jetzt einen neuen
    {{#if media.isMobile}}<br>{{/if}}
    Beitrag erfassen
  {{/link-to}}
</header>

{{contribution-calendar items=model.contributions}}
