<div class="page page-index">
  {{latest-contribution}}
  <div class={{if media.isDesktop "layout-row" "layout-column"}}>
    <div class="page-index-content intro flex text-center">
      <h1>&nbsp;</h1>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

      {{contribution-bubbles}}
    </div>
    {{#if media.isDesktop}}
      <div class="page-index-content advent-wrapper flex text-center">
        {{contribution-calendar}}
      </div>
    {{/if}}
  </div>
</div>
