<div class="page page-day">
  <h1 class="content calendar-day-heading">
    {{~calendar-day date=model~}}
    {{moment-format model 'DD.MM.YYYY'}}
    {{#link-to 'post-contribution' (query-params date=model)}}
      <i class="fa fa-plus hover-darken"></i>
    {{/link-to}}
  </h1>

  {{outlet}}
</div>
