:--component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contributor {
  margin: 1rem;
  min-height: 150px;
  min-width: 150px;
  background-image: url("http://placehold.it/150x150/2c97a6/fff");
}

.fa-angle-double-up {
  transform: translateY(50%);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
}
.contributor__link:hover .fa-angle-double-up {
  transform: translateY(0);
  opacity: 1;
}
img.contributor__image {
    width: 150px;
    height: 150px;
    border: 2px solid $c-puzzle-6;
}
.contributor__image {
  max-width: 150px;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (max-width: 506px) {
  .contributor__image {
    max-width: 245px;
  }
}

@media (min-width: 716px) {
  .contributor__image {
    max-width: 150px;
  }
}

.contributor__caption__content > p {
  margin: 0;
}
