:--component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contributor {
  margin: 1rem;
  min-height: 150px;
}

.fa-angle-double-up {
  transform: translateY(50%);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
}
.contributor__link:hover .fa-angle-double-up {
  transform: translateY(0);
  opacity: 1;
}

.contributor__image {
  max-width: 100px;
}

@media (max-width: 506px) {
  .contributor__image {
    max-width: 245px;
  }
}

@media (min-width: 716px) {
  .contributor__image {
    max-width: 150px;
  }
}

.contributor__caption__content > p {
  margin: 0;
}
