<p class="layout-row flex-100 flex-center m-y-1">
  <h1 class="is-white">Die Contributors</h1>
</p>
{{#each items as |contributor|}}
  <div class="contributor hover-box">
    <a class="contributor__link hover-box__link" href={{prefixHttp  contributor.website}}>
      <div class="contributor__caption hover-box__caption">
        <div class="contributor__caption__content hover-box__caption__content">
          <p>{{contributor.name}}</p>
          <i class="fa fa-angle-double-up fa-3x"></i>
        </div>
      </div>
      <img class="contributor__image hover-box__content"
          src={{contributor.picture}} alt="">
    </a>
  </div>
{{else}}
  <div class="text-center">
    <p>Es hat noch niemand einen Beitrag gemacht!</p>

    {{#link-to
      'post-contribution'
      (query-params date=(moment-format now 'YYYY-MM-DD'))
      class="btn-primary"
      }}
      <i class="fa fa-plus"></i>
      Jetzt einen neuen
      {{#if media.isMobile}}<br>{{/if}}
      Beitrag erfassen
    {{/link-to}}
  </div>
{{/each}}
