:--component {
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.page-header__menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.menu-toggle {
  font-size: 2rem;
  margin-right: 2rem;
}

.menu-toggle, .menu-toggle:hover {
  color: var(--font-color-light);
  text-decoration: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    font-size: 3rem;
  }
}

li {
  position: relative;
}

li > span {
  cursor: default;
}

li > a,
li > span {
  margin: 0.25rem;
  padding: 1rem;
  font-size: 1.1rem;
}

li > :--any-link,
li > span {
  color: var(--font-color-light);
}

li > a:hover,
li > a.active,
li > span:hover {
  background-color: var(--c-puzzle-2);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.3);
}

li:hover > ul {
  visibility: visible;
  opacity: 1;
}
li > ul {
  transition: opacity 200ms, visibility 200ms;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 2.3rem;
  padding: 0;
  min-width: 100%;
  background-color: var(--c-puzzle-1);
  z-index: 1;
}
li > ul > li {
  display: flex;
}
li > ul > li > a {
  flex: 1;
}
