:--component {
  padding: 0 1rem;
}

input, textarea {
  width: 100%;
}

input[type="date"] {
  width: auto;
}

input {
  max-width: 26rem;
}

.textarea-field {
  @extend .layout-column-flex;
}

textarea {
  min-height: 5em;
  height: 100%;
}

.form-button--submit {
  align-self: center;
}

.button-row {
  display: flex;
  align-items: baseline;
  margin: 1rem 0;
}
.button-row > button:not(:last-child) {
  margin-right: 1rem;
}

.ember-hold-button {
  margin-bottom: 1rem;
}

@media (max-width: 320px) {
  h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  :--component {
    padding-bottom: 1rem;
  }
}
