<section class="about-page justify-mobile content content-padding">
  <h1>Worum es geht</h1>

  <p>
    Bei Puzzle setzen wir konsequent und wo immer möglich Open Source
    Technologien und Werkzeuge in unseren Projekten ein. Mit
    <a href="http://www.hitobito.ch/">hitobito</a> haben wir zudem eine eigene
    Open Source Lösung auf dem Markt etabliert. Open Source Lösungen sind
    ebenfalls Teil unserer
    <a href="https://www.puzzle.ch/de/blog/articles/2015/07/21/puzzle-vision-2020">Vision 2020</a>.
    Dies, und davon bin ich überzeugt, ist der richtige Weg.
  </p>

  <h3>ABER</h3>

  <p>
    In puncto Contributions zu Open Source Projekten hat Puzzle noch einiges
    an nicht ausgeschöpftem Potenzial. Ziel der Challenge ist also, an jedem
    Tag im Advent (1.12.2016 bis 24.12.2016) mindestens eine Contribution für
    ein Open Source Projekt zu machen und dies auf Github zu pushen! Für die
    Challenge muss es sich aber nicht nur um einen „Code-Beitrag“ handeln. Es
    kann auch ein Blogpost zum Thema Open Source erstellt werden oder ein
    Eintrag auf
    <a href="https://www.openstreetmap.org/#map=5/51.500/-0.100">Open Street Map</a>
    erfasst werden.
  </p>

  <p>
    Natürlich können die Teilnehmerinnen und Teilnehmer einen super Preis
    gewinnen. Wer mitmachen will, kann seinen Github Account Namen an
    <a href="https://www.puzzle.ch/de/blog/articles/author/dsenn">Damian Senn</a>
    melden und ist somit automatisch zur Challenge angemeldet.
    Traut euch! Laufende Updates über die Fortschritte der Challenge gibt es
    auf Twitter unter <a href="https://twitter.com/puzzleitc">@puzzleitc</a>.
  </p>
</section>
