<div class="page page-about">
  <section class="justify-mobile content content-padding">
    <h1>Darum gibt es die Challenge</h1>

    <h3>So sieht es heute aus</h3>

    <p>    
      Bei Puzzle setzen wir konsequent und wo immer möglich Open Source
      Technologien und Werkzeuge in unseren Projekten ein. Open Source Lösungen sind
      Teil unserer
      <a href="https://www.puzzle.ch/de/blog/articles/2015/07/21/puzzle-vision-2020">Vision 2020</a>. Mit
      <a href="http://www.hitobito.ch/">hitobito</a>, 
      <a href="https://www.puzzle.ch/de/loesungen/puzzletime">Puzzle Time</a>, 
      <a href="https://www.puzzle.ch/de/loesungen/appuio">APPUiO</a>, 
      <a href="https://www.puzzle.ch/de/loesungen/liima">Liima</a>
      und <a href="https://www.puzzle.ch/de/loesungen/cryptopus">Cryptopus</a> 
      haben wir eigene Open Source Lösungen auf dem Markt. 
      
    </p>

    <h3>aber...</h3>

    <p>
      In puncto Contributions zu Open Source Projekten hat Puzzle noch Potenzial. Ziel der Challenge ist also, 
      an jedem Tag im Advent (1.12.2018 bis 24.12.2018) mindestens eine Contribution für ein Open Source Projekt 
      zu realisieren und dies zu veröffentlichen. Für die Challenge muss es sich aber nicht nur um einen 
      «Code-Beitrag» handeln. <a href="http://blog.obrian.ch/osschallenge/">Hier</a> findest du einige Mögichkeiten, wie du die Welt verändern kannst.
    </p>

    <p>
      Natürlich können die Teilnehmerinnen und Teilnehmer einen tollen Preis gewinnen. 
      Wer mitmachen will, sendet seinen Github Account Namen an 
      <a href="https://www.puzzle.ch/de/blog/articles/author/obrian">Olivier Brian</a> und ist somit automatisch 
      zur Challenge angemeldet. Traut euch! Laufende Updates über die Fortschritte der Challenge gibt es auf 
      Twitter unter <a href="https://twitter.com/osschallengech">@osschallengech</a>.
    </p>

    <p>
      Die Software hinter opensource-challenge.ch ist auf GitHub zu finden:
      <a href="https://github.com/opensource-challenge">github.com/opensource-challenge</a>.
      Es wird rege daran weiterentwickelt. Vielleicht hast auch du einen Beitrag?
    </p>
  </section>
</div>
