<div class="osc-admin">
  <h1>Admin</h1>

  <nav>
    <ul>
      <li>
        {{~#link-to "admin.challenges" current-when="challenges create-challenge edit-challenge"~}}
          Challenges
        {{~/link-to~}}
      </li>
      <li>
        {{~#link-to "admin.users" current-when="users edit-user"}}Benutzer{{/link-to~}}
      </li>
    </ul>
  </nav>

  {{outlet}}
</div>