<div class="osc-admin">
  <h1>Admin</h1>

  <nav>
    <ul>
      <li>
        {{~#link-to "challenges"}}Challenges{{/link-to~}}
      </li>
      <li>
        {{~#link-to "users" current-when="users edit-user"}}Benutzer{{/link-to~}}
      </li>
    </ul>
  </nav>

  {{outlet}}
</div>