<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Start</td>
      <td>Ende</td>
      <td>Geschlossen</td>
    </tr>
  </thead>
  <tbody>
    {{#each model as |challenge|}}
      <tr>
        <td>{{challenge.name}}</td>
        <td>{{moment-format challenge.startsOn "DD.MM.YYYY"}}</td>
        <td>{{moment-format challenge.endsOn "DD.MM.YYYY"}}</td>
        <td class="text-center">{{if challenge.closed "✔"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
