<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Admin</td>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |user|}}
      <tr>
        <td>
          <LinkTo @route="edit-user" @model={{user.id}}>
            {{user.name}}
          </LinkTo>
        </td>
        <td class="text-center">{{if user.admin "✔"}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
