<h1>Adventskalender</h1>

<p>
  Contributions: <strong>{{items.length}}</strong><br>
  Contributors: <strong>{{contributorCount}}</strong>
</p>

{{#each-in calendarDays as |date items|}}
  {{~calendar-day date=date items=items~}}
{{/each-in}}
