<h1>Der Adventskalender</h1>
<p>Anzahl Beiträge insgesamt: {{this.challenge.contributions.length}}</p>
{{#if (and this.challenge.active this.challenge.open)}}
  <p class="post-contribution-btn content">
    {{#link-to
      "post-contribution"
      (query-params date=(moment-format this.now "YYYY-MM-DD"))
      class="btn-primary"
    }}
      {{fa-icon "plus"}}
      Jetzt einen neuen
      {{#if (media "isMobile")}}<br>{{/if}}
      Beitrag erfassen
    {{/link-to}}
  </p>
{{/if}}
<div class="advent-calendar">
  {{#each-in this.calendarDays as |date items|}}
    {{~calendar-day archive=this.archive challenge=this.challenge date=date items=items~}}
  {{/each-in}}
</div>
