<div class="page-footer__content">
  <address class="page-footer__address">
    <div>Puzzle ITC GmbH</div>

    <div>
      Eigerplatz 4
      CH-3007 Bern
    </div>

    <div>Tel. +41 31 370 22 00</div>
  </address>

  <div class="page-footer__socialmedia">
  </div>

  <div class="page-footer__copyright">
    <a href="https://www.puzzle.ch/">Puzzle ITC</a> © 2016
  </div>
</div>
