:--component {
  display: inline-block;
  margin: 0.5rem;
}

.calendar-day__caption {
  z-index: 0;
}

.calendar-day__number {
  //font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  font-size: 5rem;
  transition: transform 200ms, color 400ms, background 200ms;
  z-index: 2;
  color: darken($c-puzzle-5, 20%);

  &:hover {
    color: white;
  }
}

.hover-box__link:hover > .calendar-day__number,
.hover-box__link.active > .calendar-day__number {
  color: var(--font-color-light);
  //color: white;
}

.hover-box__link:hover .hover-box__content,
.hover-box__link.active .hover-box__content {
  //transform: scale(0.3) translateY(1.25rem);
}

.hover-box__link .fa-calendar-o {
  //transform: scale(2);
  opacity: 0;
  font-size: 3rem;
  transition: transform 300ms, opacity 300ms;
}
.hover-box__link:hover .fa-calendar-o,
.hover-box__link.active .fa-calendar-o {
  //transform: translateY(0) scale(1);
  opacity: 1;
}

@media (max-width: 506px) {
  .calendar-day__number {
    width: 120px;
    height: 90px;
    font-size: 4rem;
  }
}

@media (min-width: 716px) {
  .calendar-day__number {
    width: 150px;
    height: 80px;
    font-size: 3rem;
  }

  .hover-box__link .fa-calendar-o {
    //font-size: 7rem;
  }

  .hover-box__link:hover .hover-box__content,
  .hover-box__link.active .hover-box__content {
    //transform: scale(0.3) translateY(3rem);
  }
}
