<div class="calendar-day" onclick={{action 'toggle'}}>
  <div class="calendar-day__caption">
    <div class="calendar-day__content">
      <i class="fa fa-calendar-o fa-3x"></i>
    </div>
  </div>
  <div class="calendar-day__number">
    {{~moment-format date 'D'~}}
  </div>
</div>
