{{#if this.archive}}
  {{#link-to
    "challenge.day"
    this.challenge
    this.date
    class="hover-box__link"
    disabled=this.disabled
  }}
    <div class="calendar-day__number hover-box__content">
      {{~moment-format this.date "D"~}}
    </div>
  {{/link-to}}
{{else}}
  {{#link-to "day" this.date class="hover-box__link" disabled=this.disabled}}
    <div class="calendar-day__number hover-box__content">
      {{~moment-format this.date "D"~}}
    </div>
  {{/link-to}}
{{/if}}
