{{#link-to 'day' date class="hover-box__link" disabled=disabled}}
  <div class="calendar-day__caption hover-box__caption">
    <div class="calendar-day__content hover-box__caption__content">
      <i class="fa fa-calendar-o fa-3x"></i>
    </div>
  </div>
  <div class="calendar-day__number hover-box__content">
    {{~moment-format date 'D'~}}
  </div>
{{/link-to}}
