:--component {
  margin: 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.avatar-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

.avatar {
  display: block;
  width: 4rem;
}

.username {
  margin-left: 1rem;
  font-size: 1rem;
}

.contribution-link {
  display: block;
  margin: 0.5rem 0 0;
  word-wrap: break-word;
}

@media (min-width: 992px) {
  :--component {
    flex-direction: row;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .avatar-wrapper {
    width: 200px;
    margin-right: 1rem;
  }

  .avatar {
    width: 200px;
  }

  .username {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--font-color-light);
    background-color: rgba(34, 34, 34, 0.8);
    padding: 0.25rem 0.5rem;
    border-top-left-radius: 3px;
  }
}
