<div class="page page-archive-list">
  <ul>
    {{#each this.model as |challenge|}}
      <li>
        {{#link-to "challenge" challenge.id}}{{challenge.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
