<div class="page page-index">
  {{latest-contribution}}
  <div class={{if (media "isDesktop") "layout-row" "layout-column"}}>
    <div class="page-index-content intro flex text-center">
      <h1>Keine Open Source Advents Challenge 2020</h1>
      <p>
        Dieses Jahr verzichten wir auf die Durchführung einer Open Source Advents Challenge. Wir sind abei uns Gedanken über eine neues Format zu machen. 
        Hast du eine Idee? Gerne nehmen wir deine Ideen und Vorschläge via Mail oder auf Twitter <a href="https://twitter.com/osschallengech">@osschallengech</a> entgegen.
      </p>

      <p>
        Die vergangen Challenges findest du im {{#link-to "archive"}}«Archiv»{{/link-to}}.
      </p>

      <p>
        Unter
        {{#link-to "about"}}«About»{{/link-to}} findest du mehr
        Informationen.
      </p>

      {{contribution-bubbles}}
    </div>
    <div class="page-index-content advent-wrapper flex text-center">
      {{contribution-calendar challenge=this.model}}
    </div>
  </div>
</div>
